*{box-sizing: border-box;margin: 0;padding: 0;}
*::before,*::after{box-sizing: border-box;}

body{
    background: #ffe600;
    min-height: 100vh;
}
.skin{
    position: relative;
}
.nose{
    border: 10px solid black;
    border-color: black transparent;
    position: relative;
    border-bottom: none;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 145px; 
    margin-left: -10px;
    z-index: 10;
}
@keyframes wave{
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(7deg);
    }
    66%{
        transform: rotate(-7deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.nose:hover{
    transform-origin: center bottom;
    animation:  wave 200ms infinite linear;
}




.yuan{
    
    position: absolute;
    width: 20px;
    height: 10px;
    top: -20px;
    left: -10px;
    border-radius: 10px 10px 0 0;
    background: black;
}
.eye{
    border: 2px solid #000;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -30px;
    background: #2E2E2E;
    border-radius: 50%;
}
.eye::after{
    content: '';
    border: 3px solid #000;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: 2px;
    display: block;

}
.eye.left{
    transform: translate(-100px);
}
.eye.right{
    transform: translate(100px);
}
.mouth{
    
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 170px;
}
.mouth .up{
    position: relative;
    top: -20px;
    z-index: 1;
}

  .mouth .up .lip{
        border: 3px solid black;
        height: 30px;
        width: 100px;
        background: #ffe600;
        border-top-color: transparent;
        border-right-color: transparent;
        position: relative;
        position: absolute;
        left: 50%;
        margin-left: -50px;
}
.mouth .up .lip.left{
    border-radius: 0 0 0 50px;
    transform: rotate(-15deg) translateX(-53px);
  }
  .mouth .up .lip::before{content: '';
    display: block;
    width: 7px;
    height: 30px;
    position: absolute;
  
    bottom: 0;
    background: #ffe600;

  }
.mouth .up .lip.left::before{
    
    right: -6px;
}
.mouth .up .lip.right{
    border-radius: 0 0 50px 0;
    transform: rotate(15deg) translateX(53px);
  }
  .mouth .up .lip.right::before{
    
    left: -6px;
   
  }
  .mouth .down{
      height: 175px;
      position: absolute;
      top: 5px;
      width: 100%;
      overflow: hidden;
  }
  .mouth .down .yuan1{
      border: 3px solid black;
      width: 150px;
      height: 1000px;
      left: 50%;
      position: absolute;
      bottom: 0;
      margin-left: -75px;
      border-radius: 75px/300px;
      background: #9F000A;
      overflow: hidden;
  }
  .mouth .down .yuan2{
     width: 200px;
     height: 300px;
     position: absolute;
     bottom: -150px;
     left: 50%;
     margin-left: -100px;
     background: #FF444F;
     border-radius: 100px;
  }
.face{
border: 3px solid black;
position: absolute;
left: 50%;
width: 78px;
height: 78px;
top: 190px;
margin-left: -39px;
z-index: 3;
background: #FF0000;
}
.face > img{
    position: absolute;
    top: 50%;
    left: 50%;
}
.face.left{
    transform: translateX(180px);
    border-radius: 50%;
}
.face.right > img{
   transform: rotateY(180deg);
   transform-origin: 0 0;
}
.face.right{
    transform: translateX(-180px);
    border-radius: 50%;
    background: #ff0000;
}



